# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask:
instance/
.webassets-cache

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Files
tools.py
ashrae_data.py
scratch.py

# Data
data/