adal==1.2.7
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.5
aioice==0.10.1
aiortc==1.12.0
aiosignal==1.3.2
aiosqlite==0.21.0
aiounittest==1.5.0
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
av==14.4.0
azure-ai-agents==1.0.0
azure-ai-formrecognizer==3.3.3
azure-ai-inference==1.0.0b9
azure-ai-ml==1.26.1
azure-ai-projects==1.0.0b11
azure-ai-textanalytics==5.3.0
azure-cognitiveservices-language-luis==0.2.0
azure-common==1.1.28
azure-core==1.33.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-cosmos==4.9.0
azure-identity==1.21.0
azure-mgmt-core==1.5.0
azure-monitor-opentelemetry==1.6.5
azure-monitor-opentelemetry-exporter==1.0.0b35
azure-search==1.0.0b2
azure-search-documents==11.6.0b12
azure-storage-blob==12.25.1
azure-storage-file-datalake==12.20.0
azure-storage-file-share==12.21.0
babel==2.17.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.3
black==25.1.0
bleach==6.2.0
blinker==1.9.0
botbuilder-ai==4.16.2
botbuilder-core==4.16.2
botbuilder-integration-aiohttp==4.16.2
botbuilder-schema==4.16.2
botframework-connector==4.16.2
botframework-streaming==4.16.2
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
cleo==2.1.0
click==8.1.8
cloudevents==1.11.0
cohere==5.14.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.10
ConfigArgParse==1.7
configparser==7.2.0
contourpy==1.3.1
crashtest==0.4.1
cryptography==45.0.2
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
diff-match-patch==20241021
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docutils==0.21.2
docx==0.2.4
dulwich==0.22.8
durationpy==0.9
entrypoints==0.4
eval_type_backport==0.2.2
executing==2.2.0
fastapi==0.115.11
fastavro==1.10.0
fastjsonschema==2.21.1
favicon==0.7.0
filelock==3.18.0
filetype==1.2.0
findpython==0.6.3
fixedint==0.1.6
flake8==7.2.0
flatbuffers==25.2.10
fonttools==4.56.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.3.2
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-crc32c==1.7.1
google-generativeai==0.8.4
google_search_results==2.4.2
googleapis-common-protos==1.69.2
greenlet==3.1.1
grep-ast==0.8.1
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
htbuilder==0.9.0
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.1
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
imagesize==1.4.1
importlib_metadata==7.2.1
importlib_resources==6.5.2
iniconfig==2.1.0
installer==0.7.0
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isodate==0.7.2
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
json-rpc==1.15.0
json5==0.12.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==1.4.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2024.10.1
jsonschema_rs==0.29.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.14
keyring==25.6.0
kiwisolver==1.4.8
langchain==0.3.21
langchain-chroma==0.2.2
langchain-cohere==0.4.3
langchain-community==0.3.20
langchain-core==0.3.58
langchain-experimental==0.3.4
langchain-google-genai==2.0.10
langchain-mistralai==0.2.9
langchain-nomic==0.1.4
langchain-ollama==0.3.0
langchain-openai==0.3.9
langchain-pinecone==0.2.5
langchain-tests==0.3.19
langchain-text-splitters==0.3.7
langchain-unstructured==0.1.6
langgraph==0.3.18
langgraph-api==0.0.32
langgraph-checkpoint==2.0.21
langgraph-checkpoint-sqlite==2.0.6
langgraph-cli==0.1.79
langgraph-prebuilt==0.1.4
langgraph-sdk==0.1.58
langserve==0.3.1
langsmith==0.3.18
lark==1.2.2
lark-parser==0.8.9
lazy-object-proxy==1.11.0
llama-index-core==0.12.24.post1
llama-index-embeddings-huggingface==0.5.2
loguru==0.7.3
lxml==5.4.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.1.3
mixpanel==4.10.1
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.1.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.3.2
mypy-extensions==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
nomic==3.4.1
notebook==7.4.0
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
ollama==0.4.7
onnxruntime==1.22.1
openai==1.70.0
openapi-core==0.19.5
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.1
opentelemetry-api==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-exporter-otlp-proto-grpc==1.31.1
opentelemetry-instrumentation==0.52b1
opentelemetry-instrumentation-asgi==0.52b1
opentelemetry-instrumentation-dbapi==0.52b1
opentelemetry-instrumentation-django==0.52b1
opentelemetry-instrumentation-fastapi==0.52b1
opentelemetry-instrumentation-flask==0.52b1
opentelemetry-instrumentation-psycopg2==0.52b1
opentelemetry-instrumentation-requests==0.52b1
opentelemetry-instrumentation-urllib==0.52b1
opentelemetry-instrumentation-urllib3==0.52b1
opentelemetry-instrumentation-wsgi==0.52b1
opentelemetry-proto==1.31.1
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
opentelemetry-util-http==0.52b1
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
pathable==0.4.4
pathspec==0.12.1
pbs-installer==2025.4.9
pexpect==4.9.0
pillow==11.1.0
pinecone==6.0.2
pinecone-plugin-interface==0.0.7
pkginfo==1.12.1.2
platformdirs==4.3.7
plotly==6.0.1
pluggy==1.5.0
poetry-core==2.1.2
posthog==3.23.0
prance==25.4.8.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybars4==0.9.13
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.11.2
pydantic-settings==2.8.1
pydantic_core==2.33.1
pydash==8.0.5
pydub==0.25.1
pyee==13.0.0
pyflakes==3.3.2
Pygments==2.19.1
PyJWT==2.10.1
pylibsrtp==0.12.0
pymdown-extensions==10.14.3
PyMeta3==0.5.1
pymongo==4.11.3
PyMuPDF==1.25.4
pyOpenSSL==25.1.0
pypandoc==1.15
pyparsing==3.2.1
pypdf==5.4.0
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pysnmp==7.1.17
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-socket==0.7.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2025.1
pywin32==310
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
roman-numerals-py==3.1.0
rpds-py==0.24.0
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
semantic-kernel==1.31.0
Send2Trash==1.8.3
sentence-transformers==3.4.1
setuptools==79.0.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
socksio==1.0.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.39
sse-starlette==2.1.3
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data==0.6.3
starlette==0.46.1
streamlit==1.43.2
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-option-menu==0.4.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
strictyaml==1.7.3
structlog==25.2.0
sympy==1.14.0
syrupy==4.9.1
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.2
torch==2.2.2+cpu
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
tree-sitter==0.24.0
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.23.2
tree-sitter-yaml==0.7.0
trove-classifiers==2025.4.11.15
typer==0.15.2
types-python-dateutil==2.9.0.20241206
types-PyYAML==6.0.12.20241230
types-requests==2.32.0.20250306
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.1
tzdata==2025.1
unstructured-client==0.31.3
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
uv==0.6.14
uvicorn==0.34.0
validators==0.34.0
virtualenv==20.30.0
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.1
widgetsnbextension==4.0.14
win32_setctime==1.2.0
wrapt==1.17.2
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
